*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav{
    background-color: rgb(41, 94, 231);
    width: 100vw;
    height: 80px;
    text-align: center;
}

.logo{
     vertical-align: middle;
     margin-right: 100px;
 }

nav ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 10px;
}

nav ul li a{
    color: white;
}


nav .login a{
    color: black;
    background-color: white;
    padding: 6px 14px;
    border-radius: 40px;
    margin-left: 100px;
}

/* inizio jumbotron */
.jumbotron{
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
}

.jumbotron h1{
    color: white;
    font-size: 50px;
    padding-top: 200px;
    margin-bottom: 20px;
}

.jumbotron p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    margin-right: 10px;
}
.btn-white{
    background-color: white;
    color: black;
}

.btn-dark{
    background-color: rgb(54, 57, 63);
    color: white;
}

/* inizio sezione canali */

.colonna{
    float: left;
}

.canali-img{
    width: 60%;
    margin-right: 5%;
}

.canali-text{
    width: 35%;
    margin-top: 40px;
}

.canali-text h2{
    font-size: 45px;
    margin-bottom: 30px;
}

.canali-text p{
    font-size: 22px;    
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.canali-vocali-text{
    width: 35%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.canali-vocali-text h2{
    font-size: 45px;
    margin-bottom: 30px;
}

.canali-vocali-text p{
    font-size: 22px;   
}

.canali-vocali-img{
    width: 65%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.social{
    width: 32%;
    margin-right: 2%;
}

.small-mrg-rt{
    width: 15%;
    margin-right: 2%;
}

.small{
    width: 15%;
}

footer{
    margin-top: 10px;
}  

footer h3{
    color: rgb(41, 94, 231);
}

footer h4{
    color: rgb(41, 94, 231);
    margin-bottom: 10px;
}

footer ul li{
    list-style: none;
    line-height: 1.6;
}