*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav{
    background-color: rgb(41, 94, 231);
    width: 100vw;
    height: 80px;
    text-align: center;
}

.logo{
     vertical-align: middle;
     margin-right: 100px;
 }

nav ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 10px;
}

nav ul li a{
    color: white;
}


nav .login a{
    color: black;
    background-color: white;
    padding: 6px 14px;
    border-radius: 40px;
    margin-left: 100px;
}

/* inizio jumbotron */
.jumbotron{
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
}

.jumbotron h1{
    color: white;
    font-size: 50px;
    padding-top: 200px;
    margin-bottom: 20px;
}

.jumbotron p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    margin-right: 10px;
}
.btn-white{
    background-color: white;
    color: black;
}

.btn-dark{
    background-color: rgb(54, 57, 63);
    color: white;
}

/* inizio sezione canali */

.colonna{
    float: left;
}

.canali-img{
    width: 60%;
    margin-right: 5%;
}

.canali-text{
    width: 35%;
    margin-top: 40px;
}

.canali-text h2{
    font-size: 45px;
    margin-bottom: 30px;
}

.canali-text p{
    font-size: 22px;    
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

/* inizio canali vocali */
.canali-vocali{
    background-color: rgb(243, 244, 245);
    margin: -5px auto 0;
}

.canali-vocali-text{
    width: 35%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.canali-vocali-text h2{
    font-size: 45px;
    margin-bottom: 30px;
}

.canali-vocali-text p{
    font-size: 22px;   
}

.canali-vocali-img{
    width: 65%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.social{
    width: 32%;
    margin-right: 2%;
}

.small-mrg-rt{
    width: 15%;
    margin-right: 2%;
    padding-top: 10px;
    margin-bottom: 30px;
}

.small{
    width: 15%;
    padding-top: 10px;
}

/* advetures */
.adventures{
    background-color: rgb(243, 244, 245);
    text-align: center;
    margin-top: -5px;
}

.adventures h2{
    font-size: 55px;
    padding-bottom: 40px;
}

.adventures p{
    font-size: 25px;
}

.adventures img{
    width: 100%;
    margin: 50px auto;
}


/* footer */
footer{
    background-color: rgb(35, 39, 42);
    padding-top: 120px;
    margin-top: 10px;   
}  

footer h3{
    color: rgb(41, 94, 231);
    font-size: 30px;    
    margin-bottom: 20px;
}

.bandiera{
    width: 30px;
    margin-right: 10px;
}

.lingua{
    color: white;
}

.btn-social{
    color: white;
    margin-top: 20px;
}

.twitter, .instragram, .facebook, .youtube{
    width: 20px;
    margin-right: 20px;
}

.facebook{
    margin-left: 20px;
}

footer h4{
    color: rgb(41, 94, 231);
    margin-bottom: 10px;
}

footer ul li{
    list-style: none;
    line-height: 1.8;   
}

footer ul li a{
    color: white;
}
/* footer bottom */
.footer-bottom{
    border-top: 2px solid rgb(41, 94, 231);
    padding-top: 30px;
    padding-bottom: 100px;
}

.registrati{
    background-color: rgb(41, 94, 231);
    color: white;
    padding: 6px 14px;
    border-radius: 40px;
    margin-left: 80%;
}



